<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/headtags") %>
        <title>Reset password</title>
</head>

<body>
    <%- include("partials/navbar") %>

        <%- include("partials/mainopening") %>

            <div class="card">
                <div class="card-body">

                    <form id="resetpasswordform">

                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Your Current Password</label>
                            <input type="password" id="password" name="password" class="form-control form-control-lg" />

                            <span id="passworderror" class="error"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="newPassword">Your New Password</label>
                            <input type="password" id="newPassword" name="newPassword" class="form-control form-control-lg" />

                            <span id="newPassworderror" class="error"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="repeatNewPassword">Repeat New Password</label>
                            <input type="password" id="repeatNewPassword" name="repeatNewPassword" class="form-control form-control-lg" />

                            <span id="repeatNewPassworderror" class="error"></span>
                        </div>

                        <h6 class="card-subtitle text-muted text-end">
                            <button type="submit" class="btn btn-primary" onclick="resetPasswordSbmt(event)">Apply</button>
                        </h6>

                    </form>

                </div>
            </div>

            <%- include("partials/mainclosure") %>

                <script src="/js/settings-password.js"></script>
</body>

</html>